body {
    background: #fafafa;
}
@keyframes sliderRight {
    from{
        background-position: 70000%;
    }
    to {
        background-position: 0;
    }
}
.background {
    position: absolute;
    bottom: 0;
    background: url('background.png') repeat-x;
    animation: sliderRight 600s infinite linear;
    width: 100%;
    height: 200px;
}
.dino {
    width: 60px;
    height: 60px;
    background: url('dino.png');
    position: absolute;
    bottom: 0
}
.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background: url('cactus.png');
}
.gameover {
    text-align: center;
    color: #555;
    margin-top: 50px;
    font-family: arial;
}
.gameover span {
    background: #555;
    color: #fafafa;
    padding: 7px 14px;
    border-radius: 5px;
}
.points {
    position: absolute;
    top: 50px;
    right: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}